body {
    margin: 20px;
}
img{
    width: 150px;
}
.border-blue{
    border: 1px dotted blue;
}
.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}